@using DysonNetwork.Sphere.Localization
@using Microsoft.Extensions.Localization
@using EmailResource = DysonNetwork.Sphere.Localization.EmailResource

<EmailLayout>
    <table class="container">
        <tr>
            <td class="columns">
                <h1 style="font-size: 1.875rem; font-weight: 700; color: #111827; margin: 0; text-align: center;">
                    @(Localizer["PasswordResetHeader"])
                </h1>
            </td>
        </tr>

        <tr>
            <td class="columns">
                <p style="color: #374151; margin: 0;">
                    @(Localizer["PasswordResetPara1"]) @@@Name,
                </p>
                <p style="color: #374151; margin: 0;">
                    @(Localizer["PasswordResetPara2"])
                </p>
                <p style="color: #374151; margin: 0;">
                    @(Localizer["PasswordResetPara3"])
                </p>
            </td>
        </tr>

        <tr>
            <td class="columns">
                <div style="text-align: center;">
                    <a href="@Link" target="_blank"
                       style="background-color: #2563eb; color: #ffffff; padding: 0.75rem 1.5rem; border-radius: 0.5rem; font-weight: 600; text-decoration: none;">
                        @(Localizer["PasswordResetButton"])
                    </a>
                </div>
            </td>
        </tr>

        <tr>
            <td class="columns">
                <p style="color: #374151; margin: 0;">
                    @(LocalizerShared["EmailLinkHint"])
                    <br>
                    <a href="@Link" style="color: #2563eb; word-break: break-all;">@Link</a>
                </p>
                <p style="color: #374151; margin: 0;">
                    @(Localizer["PasswordResetPara4"])
                </p>
                <p style="color: #374151; margin: 2rem 0 0 0;">
                    @(LocalizerShared["EmailFooter1"]) <br />
                    @(LocalizerShared["EmailFooter2"])
                </p>
            </td>
        </tr>
    </table>
</EmailLayout>

@code {
    [Parameter] public required string Name { get; set; }
    [Parameter] public required string Link { get; set; }

    [Inject] IStringLocalizer<EmailResource> Localizer { get; set; } = null!;
    [Inject] IStringLocalizer<SharedResource> LocalizerShared { get; set; } = null!;
}