@using DysonNetwork.Pass.Localization
@using Microsoft.Extensions.Localization
@using EmailResource = DysonNetwork.Pass.Localization.EmailResource

<EmailLayout>
    <tr>
        <td class="wrapper">
            <p class="font-bold">@(Localizer["ContactVerificationHeader"])</p>
            <p>@(Localizer["ContactVerificationPara1"]) @Name,</p>
            <p>@(Localizer["ContactVerificationPara2"])</p>

            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                <tbody>
                <tr>
                    <td align="left">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="@Link" target="_blank">
                                        @(Localizer["ContactVerificationButton"])
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>@(Localizer["ContactVerificationPara3"])</p>
            <p>@(Localizer["ContactVerificationPara4"])</p>
        </td>
    </tr>
</EmailLayout>

@code {
    [Parameter] public required string Name { get; set; }
    [Parameter] public required string Link { get; set; }

    [Inject] IStringLocalizer<EmailResource> Localizer { get; set; } = null!;
}